@font-face {
    font-family: '';
    src: url('MBitmapSquareHK-Light-Roman.woff2') format('woff2'),
        url('MBitmapSquareHK-Light-Roman.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

