@font-face {
    font-family: '';
    src: url('ShinGoPr6N-Ultra-AlphaNum.woff2') format('woff2'),
        url('ShinGoPr6N-Ultra-AlphaNum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('UDShinMGoPr6-Bold-AlphaNum.woff2') format('woff2'),
        url('UDShinMGoPr6-Bold-AlphaNum.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

